div {
    display: inline-block;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;

}
main {
    margin: auto;
    width: 500px;

}
section {
    display: inline-block;
    width: 160px;
}
div:first-child {
    background-color: blueviolet;
}

div:nth-child(2){
    background-color: cadetblue;
}

div:last-child{
    background-color: rgb(108, 98, 117);
}